<div class="container">
  <h1>Contacto</h1>

  <div id="texto" #textos>
    <p appResaltado>Página de contacto, puedes enviarnos dudas.</p>
  </div>

  <button (click)="getParrafo()">Parrafo</button>


  <!--
  Tamaño del Slider
  <input type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()">
  <button (click)="cargarSlider()">Cargar Slider</button>
  <button (click)="resetearSlider()">Resetear Slider</button>

  <div *ngIf="anchuraToSlider">-->
   <!--Traspaso de valores desde componente padre a hijo-->
   <!--  <slider [anchura]="anchuraToSlider"
            [etiquetas]="captions" 
            (conseguirAutor)="getAutor($event)">
    </slider>
  </div>
<div *ngIf="autor">
  {{autor.nombre + " " + autor.webSite + " " + autor.youtube}}

</div>-->
  

</div>
