<h2>Contacto</h2>

<form #formContacto="ngForm" (ngSubmit)="onSubmit()">
  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="contactoUsuario.nombre"><br>

  <label for="apellidos">Apellidos:</label>
  <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="contactoUsuario.apellidos"><br>

  <label for="email">E-Mail:</label>
  <input type="text" name="email" #email="ngModel" [(ngModel)]="contactoUsuario.email"><br>

  <label for="mensaje">Mensaje:</label>
  <textarea type="textarea" name="mensaje" #mensaje="ngModel" [(ngModel)]="contactoUsuario.mensaje"></textarea><br>

  <input type="submit" value="Enviar">


</form>
